.blog-content {
  background: #fff;
  padding: 0 20px;
}

@media (min-width: 750px) {
  .blog-content {
    padding: 0 50px;
  }
}

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  margin-top: 0;
}

.blog-content h1 {
  font-size: 1.6em;
}

.blog-content h2 {
  font-size: 1.4em;
}

.blog-content h3 {
  font-size: 1.25em;
}

.blog-content h4 {
  font-size: 1.1em;
}

.blog-content h5 {
  font-size: 1em;
}

.blog-content h6 {
  font-size: 0.9em;
}
